/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .tree {
        max-width: 100%;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        padding: 0;
        margin-bottom: 20px;
    }

    .node {
        margin: 10px 0;
        padding: 15px;
    }

    .sidebar {
        left: -270px;
    }

    /* #oxidbtn {
        right: 15px;
    }

    #classifBtn {
        right: 15px; 
    } */

    /* #oxidbtn .bi, #classifBtn .bi {
        width: 24px;
        height: 24px;
    } */
}
