h1, h2, h3 {
    text-align: center;
}

#oxidbtn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    background: var(--accent);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);
    border: 2px solid transparent;
    position: fixed;
    bottom: 30px;
    right: 30px; /* Размещаем справа для баланса */
    background-color: #1a4b6b;
}

#oxidbtn .bi {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

#oxidbtn:hover {
    background: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(52, 152, 219, 0.4);
}

#oxidbtn:hover .bi {
    transform: translateX(5px); /* Анимация стрелки вправо */
}

/* Стиль для кнопки "Классификации" */
#classifBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 25px;
    background: var(--accent);
    color: white;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);
    border: 2px solid transparent;
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #1a4b6b;
}

#classifBtn .bi {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

#classifBtn:hover {
    background: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(52, 152, 219, 0.4);
}

#classifBtn:hover .bi {
    transform: translateX(-5px); /* Анимация стрелки влево */
}
